[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "nse"]
	path = nse
	url = https://github.com/keblu/nse
	shallow = true
	registered = true
